*{
	margin: auto;
	padding: 0;
}
.top{
	width:100%;
	height: 75px;
	margin: auto;
}
.clear{
	clear: both;
}
.logo{
	
}
.righ{
	width: 450px;
	float: right;
	margin-right: 40px; 
}
.search{
	margin-top: 24px;
	float: left;
	border-radius:2px;
	background-color:#fff;
	border:solid 1px #27971b;
	overflow: hidden;
	width:311px;
	height: 28px;
	/*margin-left: 60%;*/
	/*position: absolute;*/
}
#kw{
	border:0;
	width:226px;
	height:28px;
	line-height:26px;
	margin-top:-2px;
	float:left;
	outline:0;
	padding-left:8px;
	font-size:13px;
	color:green;
	font-family:宋体;
	}
/*#kw::-webkit-input-placeholder{color:#dedede}#kw::-m-input-placeholder{color:#dedede}#kw::-moz-placeholder{color:#dedede}*/
.search span{
	width:30px;
	height:16px;
	margin-top:6px;
	display:inline-block;
	float:left;
	overflow:hidden;
	}
.search .btn{
	width:45px;
	height:30px;
	line-height:30px;
	text-align:center;
	float:right;
	font-family:'宋体';
	font-size:13px;color:white;
	cursor:pointer;
	margin-top:-1px;
	margin-right:-1px;
	background: green;
	}
.search .btn:hover{opacity:.9;filter:alpha(opacity=90);
}
.lgri{
	width: 90px;
	float:right;
	/*position: relative;*/
	margin-top: 24px;
	/*margin-right: 10%;*/
}
.menu{
	height: 40px;
	background: #49cd5f;
	border-bottom: 1px solid #ccc;
	z-index: 10;
	line-height: 40px;
	/*width: 1260px;*/
	width: 100%;
	margin: auto;
	position: relative;
	font-size:17px;
	
	font-family:"Tahoma","Microsoft Yahei"
}
.menu ul{
	width: 1260px;
	padding:0; 
	margin:0 auto; 
	list-style-type:none;	
}
.menu ul li {
	 float:left; 
	 /*border-right:1px solid #fff;*/
	 background: #49cd5f;
}
.menu ul li a{
	display:block; 
	padding:0px 30px; 
	height:40px; 
	line-height:40px; 
	color: white;
}


footer{
	height: 200px;
	background: #49CD5F;
	margin-top: 20px;
	width: 100%;
}
.footleft{
	width: 300px;
	float: left;
	margin-left: 20%;
	margin-top:60px ;
}
.copyright{
	height:35px;
	color: white;
	font-size: 20px;
	text-align: center;

}
.ftarget{
	height: 35px;
	color: white;
	font-size: 20px;
	text-align: center;
}

.qrcode{
	width: 142px;
	float: right;
	margin-right:20% ;
	margin-top: 30px;
	
}
.qrcode img{
	float: right;
}
