*{
	margin:0;
	padding: 0;
}
header{
	height: 420px;
	width: 100%;
	/*background:#fffff9;*/
	background:url(../img/hb1.png);
	z-index: -1;
	/*position: absolute;*/
}


.scroll{
	margin:0 auto; 
	width:1260px; 
	height:420px; 
	position:relative; 
	overflow:hidden;
	z-index: 1;
	}

.scroll ul{
	list-style-type:none; 
	padding:0; 
	margin:0; 
	position:absolute; 
	top:0;
	left:0; 
 	height:420px; 
 	}

.scroll li{
	float:left; 
	width:1260px;
	}

.prev{
	position:absolute; 
	left:-2px; 
	top:168px; 
	}
 .next{
 	position:absolute; 
 	right:-2px; 
 	top:168px;
 	}


nav{
	height: 40px;
	background: #7bdb96;
	border-bottom: 1px solid #ccc;
	z-index: 10;
	line-height: 40px;
	width: 1260px;
	/*width: 100%;*/
	top: -40px;
	margin: auto;
	position: relative;
	opacity:0.5 ;
}
nav ul{
	width:1000px; 
	padding:0; 
	margin:0 auto; 
	list-style-type:none;	
}
nav ul li {
	 float:left; marginï¼š0px 5px; border-right:1px solid #fff;
}
nav ul li a{
	display:block; 
	padding:0px 20px; 
	height:40px; 
	line-height:40px; 
}

/*end header*/
footer{
	height: 200px;
	background: #49CD5F;
}
.interval{
	width: 100%;
	height: 15px;
	background: #49cd5f;
	margin-top: 10px;
}
.containner{
	/*width: 1260px;*/
	width: 100%;
	margin: auto;
	
}
.recommend{
	width: 100%;
	height: auto;
	margin-bottom: 15px;
}

.nre{
	height: 45px;
	background: #FFFFf1;
	margin-bottom: 20px;
}
.titbox{
	width: 1260px;
	margin: auto;
}

.box{
    background: #fff;
    box-shadow: 0 0 5px #bababa;
    text-align: center;
    overflow: hidden;
    position: relative;
}
.box img{
    width: 100%;
    height: auto;
    transition: all 0.4s ease-in-out 0.2s;
}
.box:hover img{
    transform: scale(0);
    transition-delay: 0s;
}
.box .box-content{
    width: 100%;
    height: 100%;
    background: #425770;
    color: #fff;
    padding: 30px;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transform: scale(0) rotate(-180deg);
    transition: all 0.4s ease-in 0s;
}
.box:hover .box-content{
    opacity: 1;
    transform: scale(1) rotate(0deg);
    transition-delay: 0.2s;
}
.box .title{
    font-size: 20px;
    font-weight: 800;
    border-bottom: 1px solid #334a65;
    padding-bottom: 10px;
    margin-top: 0;
    text-transform: capitalize;
}
.box .description{
    font-size: 13px;
    font-style: italic;
    line-height: 20px;
    margin-bottom: 30px;
}
.box .read{
    display: inline-block;
    font-size: 14px;
    color: #fff;
    background: #132d4d;
    padding: 7px 20px;
    text-transform: capitalize;
}
@media only screen and (max-width: 990px){
    .box{ margin-bottom: 20px; }
}
@media only screen and (max-width: 479px){
    .box .box-content{ padding: 20px; }
}
@media only screen and (max-width: 359px){
    .box .box-content{ padding: 10px; }
}
.{}
